# dependencies
node_modules/
packages/*/dist/
/.pnp
.pnp.js

# testing
/coverage

# production
/dist

# misc
.DS_Store
*.pem



# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
package-lock.json
npm-debug.log
lerna-debug.log

# local env files
.env
.env.*

#firebase
ui-debug.log

.idea

#tarballs
*.tgz